//-script(src="bower_components/jquery/dist/jquery.js")
script(type="javascript", charset="utf-8", src="js/jquery.min.js")
script(type="javascript", charset="utf-8", src="js/jquery-ui.min.js")
script(type="javascript", charset="utf-8", src="js/jquery-form.min.js")
//-script(src="bower_components/what-input/what-input.js")
script(type="javascript", charset="utf-8", src="js/what-input.min.js")
script(type="javascript", charset="utf-8", src="js/date-picker.min.js")
script(type="javascript", charset="utf-8", src="js/add-fields.min.js")
//-script(src="js/fine-uploader.min.js")
//-script(src="bower_components/foundation-sites/dist/foundation.js")
script(type="javascript", charset="utf-8", src="js/foundation.min.js")
script(type="javascript", charset="utf-8", src="js/app.min.js")
script(type="javascript", charset="utf-8", src="js/form-submit.min.js")
//-script(src="js/send_alt.min.js")
//-script(src="js/_example-post.js")
//-script(src="js/ga.js")
