/*#upload-progress {
    height: 20px;
    border: 1px solid #ddd;
    width: 100%;
    .progress-bar{
        background: #bde1ff;
        width: 0;
        height: 20px;
    }
}*/
#upload-progress {
    margin-bottom: 0;
}